.navcontainer{
  transition: 0.5s;
}

.brandlogo-changed {
 height: 100px; 
 width: 130px;
 transition: 0.5s;
}

.brandlogo {
    height: 130px;
    width: 180px;
    margin-left: 2%;
    margin-top: 1%;
    transition: 0.5s
 }

.navul {
    margin-right: 5%;
}

.nav-link {
    position: relative;    
    display: flex;    
    color:rgb(185, 184, 184);     
    font-size: 16px;
    margin-right: 20px;  
    letter-spacing: 0.5px;
  }
  
  .nav-link:after {
    content: "";
    position: absolute;
    background-color: #daa520;   
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
  }
  
  .nav-link:hover {
    color:white !important;   
  }
  
  .nav-link:hover::after {
    outline: none;
    width: 100%;
  }

.bg-black {
  transition: 0.5s !important
}

.show {
  background-color: black !important;
  margin-left: 6%;
  transition: 0.8s;
}


@media screen and (min-width:992px){

.navbar-changed {
  background-color: black;
  opacity: 0.8;
  height: 100px;
  transition: 0.5s;
  width: 100%;
}

}